.About {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 1024px) {
    gap: 40px;
    padding-block: 20px;
    padding-left: 528px;
  }
  @media screen and (min-width: 1440px) {
    padding-block: 36px;
    padding-left: 723px;
  }
}

.AboutImage {
  position: relative;
  width: 346px;
  /* height: 370px; */
  left: 14.5px;

  @media screen and (min-width: 1024px) {
    position: absolute;
    bottom: 61px;
    left: 32px;

    width: 468px;
  }
  @media screen and (min-width: 1440px) {
    width: 551px;
    left: 40px;
    bottom: 21px;
  }
}

.AboutTitle {
  color: var(--bleck-dark-blue, #202053);
  text-align: center;
  /* H4(mob) 32SemiBold */
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 41.6px */

  @media screen and (min-width: 1024px) {
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }
  @media screen and (min-width: 1440px) {
    font-size: 56px;
    font-weight: 800;
    line-height: 130%; /* 72.8px */
  }
}

.AboutText {
  display: block;
  height: 230px;
  overflow: hidden;
  color: var(--Bleck-Typography, #404040);
  text-overflow: ellipsis;
  whitespace: nowrap;
  /* Medium-24 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: 1024px) {
    height: 334px;
    font-size: 24px;
  }
  @media screen and (min-width: 1440px) {
    height: 333px;
  }
}
